<form method="get" action="/">
  <p><input type="text" name="did" placeholder="did:hyp:…" /></p>
  <p><input type="submit" value="lookup" /></p>
</form>

{{!-- <p><pre><code>{{hyperswarmStatus}}</code></pre></p> --}}
