<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link type="text/css" rel="stylesheet" href="/almond.css"/>
    <style>
      form input[type=text]{
        width: 100%;
      }
      a[href]{
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <a href="/"><h1>JLINX DID Resolver</h1></a>
    <div class="container">
      <h1><a href="/">{{appName}}</a></h1>
      {{{body}}}
    </div>
  </body>
</html>

