
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
}

body > main {
  flex: 1 1 auto
}

body > footer {
  flex: 0 0 auto
}


body > footer {
  padding-bottom: 0.5rem;
  line-height: 1.8;
}
